In [1]:
# Import libraries to be used, make sure they are all installed
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame, read_csv
import warnings
warnings.filterwarnings("ignore")
import sys
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import scipy.stats
from matplotlib.cm import Greys
import matplotlib.style as style
import seaborn as sns
import torch

In [6]:
# Read SEMK data
df_1=pd.read_csv("SEMK_result_short.csv",sep=",")

In [7]:
df_1=df_1.drop(columns=['S_CO2']).copy()
df_1

          W/FCO  H2/CO  Temp  pressure      X_CO     S_CH4   S_C2C4p   S_C2C4=
0     24.390244    1.0   480         1  0.028511  0.000193  0.000261  0.074070
1     29.268293    1.0   480         1  0.033118  0.000198  0.000267  0.075671
2     34.146341    1.0   480         1  0.037446  0.000203  0.000272  0.077225
3     39.024390    1.0   480         1  0.041528  0.000208  0.000278  0.078729
4     43.902439    1.0   480         1  0.045396  0.000213  0.000283  0.080181
...         ...    ...   ...       ...       ...       ...       ...       ...
2445  48.780488    5.0   650        15  0.906149  0.161735  0.056877  0.561141
2446  53.658537    5.0   650        15  0.908923  0.165392  0.059669  0.556229
2447  58.536585    5.0   650        15  0.911395  0.168742  0.062347  0.551579
2448  63.414634    5.0   650        15  0.913620  0.171833  0.064924  0.547159
2449  68.292683    5.0   650        15  0.915639  0.174702  0.067408  0.542943

[2450 rows x 8 columns]

In [8]:
min_max_scaler = MinMaxScaler()
transformed= min_max_scaler.fit_transform(df_1)

In [9]:
scaled_df = pd.DataFrame(transformed, columns=df_1.columns)

In [10]:
scaled_df

         W/FCO  H2/CO  Temp  pressure      X_CO     S_CH4   S_C2C4p   S_C2C4=
0     0.000000    0.0   0.0       0.0  0.007192  0.000000  0.000000  0.044803
1     0.111111    0.0   0.0       0.0  0.012348  0.000020  0.000083  0.046699
2     0.222222    0.0   0.0       0.0  0.017192  0.000039  0.000163  0.048540
3     0.333333    0.0   0.0       0.0  0.021761  0.000058  0.000242  0.050321
4     0.444444    0.0   0.0       0.0  0.026089  0.000076  0.000317  0.052040
...        ...    ...   ...       ...       ...       ...       ...       ...
2445  0.555556    1.0   1.0       1.0  0.989379  0.632781  0.806630  0.621658
2446  0.666667    1.0   1.0       1.0  0.992483  0.647103  0.846403  0.615841
2447  0.777778    1.0   1.0       1.0  0.995250  0.660225  0.884562  0.610333
2448  0.888889    1.0   1.0       1.0  0.997740  0.672333  0.921274  0.605098
2449  1.000000    1.0   1.0       1.0  1.000000  0.683571  0.956677  0.600106

[2450 rows x 8 columns]

In [40]:
scaled_df.to_csv('fischer_data_processed.csv', index=False)

In [2]:
import DTLZ2_model
import fischer_model
from botorch.test_functions.multi_objective import DTLZ2
from DTLZ2_model import neg_l1_dist
from DTLZ2_model import predict_DTLZ2_model
from fischer_model import predict_fischer_model

In [4]:
predict_DTLZ2_model(torch.tensor([0,0,0,0,0]))

tensor([1.5000, 0.0000, 0.0000, 0.0000])

In [11]:
predict_fischer_model(scaled_df.iloc[:,0:4].astype('float32'))

77/77 ━━━━━━━━━━━━━━━━━━━━ 0s 409us/step

tensor([[-8.9039e-03, -3.2435e-03, -3.4000e-02,  5.0979e-02],
        [-5.4560e-04, -1.1069e-03, -2.1563e-02,  5.9097e-02],
        [ 6.8273e-03,  1.3993e-03, -1.0536e-02,  6.5502e-02],
        ...,
        [ 1.0061e+00,  6.4626e-01,  8.8467e-01,  6.2687e-01],
        [ 1.0090e+00,  6.5653e-01,  9.1478e-01,  6.2146e-01],
        [ 1.0114e+00,  6.6445e-01,  9.4301e-01,  6.1619e-01]])